body {
    font-family: Arial, sans-serif;
    background-color: #f3eb77;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.center {
    margin: 20px 0;
}

.center a {
    display: inline-block;
    background-color: #0b4481;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.center a:hover {
    background-color: #0056b3;
}

table {
    width: 80%;
    border-collapse: collapse;
    margin: 20px 0;
    box-shadow: 0 2px 3px rgba(0,0,0,0.1);
    background-color: #fff;
}

table thead {
    background-color: #0b4481;
    color: white;
}

table thead th {
    padding: 10px;
}

table tbody tr {
    border-bottom: 1px solid #ddd;
}

table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

table tbody td {
    padding: 10px;
    text-align: center;
}

table tbody td a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s ease;
}

table tbody td a:hover {
    color: #0056b3;
}

h1 {
    color: #333;
}
